<div class="jumbotron">
<h1>Witaj w mojej aplikacji!</h1>
<p>Niebawem rzuci wszystkich na kolana...</p>
<%= link_to 'Strona główna', root_path, class: 'btn btn-default' %>
<%= link_to 'O mnie', home_about_path, class: 'btn btn-primary' %>
</div>